.cards{
    margin-left: 100px;
    display: flex;
    margin-top: 50px;
    text-align: center;
}

.card {
    width: 140px;
    height: 200px;
    background-color: #161b22;
    color: white;
    margin: 0 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.card > p {
    padding-top: 80px;
    font-size: x-large;
    font-weight: 700;
}
